# This file should be place in the following directories:
# ~/.fcc_complaints will override all other settings for that user (this also works in Windows)
# /etc/default/fcc_complaints are the default settings for that machine.

[auth]
app_token = 1234567890
username = testing
password = AFakePassword